function String.new 0
push constant 0
call Memory.alloc 1
pop pointer 0
function String.dispose 0
push argument 0
pop pointer 0
function String.length 0
push argument 0
pop pointer 0
function String.charAt 0
push argument 0
pop pointer 0
function String.setCharAt 0
push argument 0
pop pointer 0
function String.appendChar 0
push argument 0
pop pointer 0
function String.eraseLastChar 0
push argument 0
pop pointer 0
function String.intValue 0
push argument 0
pop pointer 0
function String.setInt 0
push argument 0
pop pointer 0
function String.newLine 0
function String.backSpace 0
function String.doubleQuote 0
